# Ignore compiled object files
*.o

# Ignore executables (common names)
a.out

# Ignore all files with no extension at the root of this repo
/*
!*.c
!*.h

# Ignore editor or system temporary files
*.swp
*.tmp
*.bak
